@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {

  --color-green-300: oklch(0.53 0.0546 137.73);
  --color-green-100: oklch(0.83 0.0537 103.95);
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

/* Custom autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: theme('colors.green.100');
  -webkit-box-shadow: 0 0 0px 1000px theme('colors.green.300') inset;
  box-shadow: 0 0 0px 1000px theme('colors.green.300') inset;
  transition: background-color 5000s ease-in-out 0s;
}