@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));


@theme {
  --color-green-300: oklch(0.53 0.0546 137.73); 
  --color-green-100: oklch(0.83 0.0537 103.95); 
  --color-red-300: oklch(0.18 0.0703 19.99); 
  --color-red-100: oklch(0.51 0.1392 32.99); 
}

:root {
  --background: oklch(0.83 0.0537 103.95);
  --foreground: oklch(0.53 0.0546 137.73);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.18 0.0703 19.99);
    --foreground: oklch(0.51 0.1392 32.99);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #CCC9A1;
  -webkit-box-shadow: 0 0 0px 1000px #5C7354 inset;
  box-shadow: 0 0 0px 1000px #5C7354 inset;
  transition: background-color 5000s ease-in-out 0s;
}