@import "tailwindcss";

@theme {

  --color-green-300: oklch(0.53 0.0546 137.73);
  --color-green-100: oklch(0.83 0.0537 103.95);
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  overscroll-behavior: none;
  overflow-x: hidden;
}

